Pygments==2.19.2
charset-normalizer==3.4.5
cuda-pathfinder==1.4.2
langchain==1.2.12
mdurl==0.1.2
mypy_extensions==1.1.0
pip-chill==1.0.5
pydantic_core==2.41.5
pypdf==6.8.0
sentence-transformers==5.3.0
streamlit==1.55.0
uuid_utils==0.14.1
